
img{
    text-align: center;
    width: 20%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.hero{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.hero2{
    width: 30%;
    height: 120%;
    background-size: 100% 100%;
}

.deck{
    background-image: url("/deck.png");
    width: 20%;
    height: 100%;
    background-size: 100% 100%;
}

.row{
    height: 100%;
}

.pDeck{
    font-size: 247%;
    font-family: fantasy;
    color: white;
    text-align: center;
}

.col{
    position: absolute;
    left: 25%;
    background-image: url("/lol.jpg");
    border: 3px solid;
    width: 10%;
    height: 20%;
    background-size: 100% 100%;
    /* width: 40%;
    height: 20%; */
}

.col1{
    position: absolute;
    left: 75%;
    background-image: url("/deck.png");
    border: 3px solid;
    background-repeat: no-repeat;
    width: 10%;
    height: 20%;
    background-size: 100% 100%;
    font-size: 100%;
    top: 5%;
}

.col2{
    position: absolute;
    left: -340%;
    background-image: url(/lol2.jpg);
    border: 3px solid;
    background-repeat: no-repeat;
    top: 460%;
    width: 156%;
    height: 211%;
}

.col3{
    position: absolute;
    left: 409%;
    background-image: url(/deck.png);
    border: 3px solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 139%;
    height: 250%;
    top: 417%;

}


.visible{
    background: olive;
    border: 3px solid;
    position: absolute;
    top: 34%;
    left: 45%;
}

.pJoueurP{
    font-size: 240%;
    font-family: fantasy;
    color: white;
    text-align: center;
    margin-bottom: 0%;
}

.pJoueurA{
    font-size: 240%;
    font-family: fantasy;
    color: white;
    text-align: center;
}