div.div_img {
    text-align: center;
    height: 100%;
}

img{
    text-align: center;
    width: 20%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
}

.hero{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.hero2{
    width: 30%;
    height: 120%;
    background-size: 100% 100%;
}

.deck{
    background-image: url("/deck.png");
    width: 20%;
    height: 100%;
    background-size: 100% 100%;
}

.row{
    height: 100%;
}