.newBase{
	width:100%;
	height:100%;
	padding:30px;
	margin:0;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

body{
    background-image: url("/plateau3.jpg");
	background-repeat: no-repeat;
}