.newBase{
	width:100%;
	height:100%;
	padding:30px;
	margin:0;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

/* body{
    background-image: url("/plateau3.jpg");
	background-repeat: no-repeat;
} */

.plateau{
	background-image: url(/parchemin.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 87%;
    padding: 30px;
    margin: 4%;
    border-radius: 12px;
    border: 3px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    text-align: center;
    position: absolute;
	width: 87%;
	top: 0%;
	left: 0%;
	margin-top: 0%;

}

.adversaire{
	margin: 30px;
    border: 3px solid;
    width: 1691%;
	height: 42%;
	border-radius: 20%;
	margin-top: 0%;
	margin-bottom: 1%;
}

.principal{
	margin:30px;
	position: absolute;
	top: 45%;
    left: 45%;
}

.bouton{
	background: yellow;
    margin: 30px;
    position: absolute;
    left: 45%;
	top: 92%;
}

.center{
	/* background: orange;
	height:100%;
	padding:30px;
	margin:0;
	border-radius: 10px;
	border: 3px solid;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); */
	text-align: center;
}

.timer{
	position: absolute;
}

.finTour{
	position: absolute;
}

.encadre{
	border: 3px solid;
    width: 1691%;
	height: 58%;

	border-radius: 20%
}