.menu {
    background-color: #601006;
    /* position: fixed; */
    margin: 0;  
    text-align: center;
}

.menu li{
    display: inline-block;
    margin: 20px;
    padding: 14px 16px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.menu li a:hover {
    color: black;
    display: block
  }
